body, html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100vh;

}

.app-appbar{
  width: 100vw;
}

.app-main{
  width: 100vw;
}

.app-searchbar {
  position: relative;
  left: 600px;
  top: 30px;
}

.app-searchtext {
  position: relative;
  bottom: 10px;
  left: 20px;
  display: flex;

}

.app-searchbutton{
  position: relative;
  left: 50px;
  bottom: 10px;

}

.app-searchopts {
  position: relative;
  left: 30px;
}

.searchResults{
  position: relative;
  left: 150px;
  top: 50px;

}

.app-userSearchLocation{
  position: relative;
  bottom: 18px;
  left: 20px;

}

.app-userSearchtext{
  position: relative;
  bottom: 18px;
  left: 20px;
  display: flex;

}

.user-searchResults{
    flex:1;
    position: relative;
    left: 100px;
    bottom: 10px;
    width: 1600px;
}
