body, html {
  padding: 0;
  margin: 0;
}


.signup-details {
  position: relative;
  left: 500px;
  padding: 10px;
  margin: 10px;
}

.signup-fields {
  position: relative;
  top: 10px;
  padding: 10px;
  margin: 10px;
}

.signup-repassword {
  position: relative;
  top: 10px;
  padding: 10px;
  margin: 10px;
}

.signup-image {
  position: relative;
  left: 10px;
  top: 30px;
  max-width: 800px;
  padding: 10px;
  margin: 10px;
}

.signup-signup {
  position: relative;
  padding: 20px;
  margin: 10px;
}


