body,
html {
  padding: 0;
  margin: 0;
}
@mixin header-style {
  margin: 0px;
  padding-bottom: 20px;
  font-family: Arial;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.review {
  position: relative;
  width: 1000px;
  padding-top: 10px;
  margin: 0px;
}

.review-header {
  .review-headercard {
    h4{
     @include header-style;
    }
    .review-header-rating {
      display: inline-block;
    }
  }
}

.review-photoscores {
  .review-photo {
    margin-left: 10px;
    width: 400px;
    overflow: hidden;
  }
  .review-scoretitles{
    position: relative;
    height: 225px;
    padding-left: 100px;
    padding-top: 2px;
    h4{
      @include header-style;
    }
  }


  .review-scores {
    .review-score {
      position: relative;
      padding-bottom: 15px;
    }
    margin-right: 0px;
    padding-right: 0px;
    margin-left:50px
  }
}
.review-buttons {
  display: inline-block;
}
.creationDate{
  position: relative;
  left: 825px;

}
